.containerDetail{
   display: flex;
   justify-content: center;
   flex-wrap: wrap; 
}

.colDetail{
    max-width: 300px;
    margin: 15px;
    margin-top: 60px;
    height: auto;
    width: 80%;
    border-radius: 15px;
}
.item{
    margin-top: 60px;
}
.productDetail{
    font-size: 1.5rem;
}
.carrito{
    display: flex;  
    justify-content: left;
    width: 100%;
    margin-top: 30px;
    align-items: baseline;
  }


  /*...............RESPONSIVE.................*/


@media (max-width:560px) {
    .containerDetail{
        margin-top:0px
    }
    .productDetail{
        width: 90%;
        height: auto;
    }
     
    .col{
        width: 100%;
        height: auto;
    }
    
    }