.footer{
    position:relative;
    margin-bottom: 0;
    width: 100%;
    width: 100%; 
    background-color:rgb(192, 192, 192);  
    z-index: 1000; 
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }


.politica{
   padding: 10px;
    color:black;
      
}