.gridProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap:80px;
     
    justify-content: center;
    }

/* .elementos{
    
    display: flex;
    flex-direction: column;
     
} */

p{
  font-size: 18px;
}
.imgProducts{
    width: 280px;
    height: 300px;
    margin-top: 240px;
}
 
.tituloMarca{
    margin-top: 120px;  
    margin-left: 44%;
    font-size: 50px;
    position:absolute;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(0, 0, 0, 0.644);
    animation-name: mover;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    transform:scale(1.4);
 
}
@keyframes mover {
    0% {
      top: 0;
      left: 0;
    }
    30% {
      top: 50px;
    }
    68%,
    72% {
      left: 50px;
    }
   
  }

@media (max-width:600px) {
    .gridProducts{
        margin-top: 10px;
        grid-template-columns: 100%;
    }
    
    .imgProducts{
    width: 360px;
    height: 380px;
}
  }

