body{
    background-image: url("../src/app/img/short.jpg");  
    background-repeat: no-repeat;
 }
.carousel{
    display: flex;
    height: 1080px;
    width: 100%;
    opacity: 0.8;
     
}
.edit{
    background-color: white;
}

/* .numero1 .img {
    width: 100%;
    height: auto;
    border-radius: 6%;
} */

.conteinerGroup{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,220px);
    gap:160px;
    justify-content: center;
    background-color: white;
 
    
}

.numeros{
    width: 90%;   
    /* height: 20%;*/
    border-color: rgb(128, 128, 128);
    margin-top: 100px;
   
}

 .img{
    height: 400px;
    width: 300px;
    border-radius: 1%;

}
 
.conteiner3{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap:80px;
    justify-content: center;
    background-color: white;
}

.numero2{   
    height: 50%;
    width: 290px;
    border-color: rgb(128, 128, 128);
    margin-top: 100px;
   
}

 .img2{
    width:100%;
    height: 100%;
    
    
 }

 
 /* .mediosDePago{
    height: 100px;
    background-color:rgb(245, 245, 245);
    border-style: groove;
    margin-bottom: 60px;
 }

 .tarjetas{
    width: 400px;
    height:400px;
    padding: 60px;
 }
 .tarjetas:hover{
    filter: grayscale(60%);
   } */
   
.zapa{
    background-color: white;
    display: flex;
    flex-direction:initial;
    justify-content:space-evenly;
    
 }

 .imgzapa{
    width: 600px;
    height: 400px;
    padding: 50px;
    
 }

.conteiner2{
    background-color: white;
    display: inline-flex;
    flex-direction: column-reverse;
     width: 100%;
     padding:20px;
    /* height: 400px; */
    
}

.numero{
    width: 50%;
    height: 610px;
     
}
.zapanb{
    width: 50%;
}
.boton{
    width: 260px;
    height: 80px;
    margin-top: 100px;
}
.createHome{
    display: flex;
     padding-top: 150px;
    margin-bottom: 500px;    
}