
.carousel{
    display: flex;
    height: 1080px;
    width: 100%;
    opacity: 0.8;
     
}

.conteiner{
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,230px);
    gap:150px;
    justify-content: center;
    background-color: white;

    
}

.numero1{   
    height: 70%;
    width: 290px;
    border-color: rgb(128, 128, 128);
    margin-top: 100px;
   
}

 .img{
    width:100%;
    height: 100%;
    border-radius: 6%;
    
 }
 /* .mediosDePago{
    height: 100px;
    background-color:rgb(245, 245, 245);
    border-style: groove;
    margin-bottom: 60px;
 }

 .tarjetas{
    width: 400px;
    height:400px;
    padding: 60px;
 }
 .tarjetas:hover{
    filter: grayscale(60%);
   } */
   
.zapa{
    background-color: white;
    display: flex;
    flex-direction:initial;
    justify-content:space-evenly;
    
 }

 .imgzapa{
    width: 600px;
    height: 400px;
    padding: 50px;
    
 }

.conteiner2{
    display: flex;
    width: 100%;
}
.zapanb{
    width: 50%;
}
.boton{
    width: 260px;
    height: 80px;
    margin-top: 100px;
}