#root,html,body{
  background: linear-gradient(grey, rgba(255, 192, 203, 0.034));
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-weight: 400;
  font-family:Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  
    
}
body{
  filter: grayscale(92%);
}

/*..................NAV...................*/

.nav{
  display: flex;
  justify-content: space-between;
  
  
}

.item1{
  display: flex;
  gap:10px;
  margin: 10px;
  margin-left: 20px;
  color:red;
}
.item2{
  margin-right: 20px;
   
  color: white;

}
.tituloHome{
  color:white;
  text-decoration: none;
 
}


.botones{
  text-decoration: none; 
  font-size: large;
}



.imgNav{
  margin-left: 800px;
  padding: 0;
  width: 60px;
  position: absolute;
  
}


/* ................RESPONSIVE................ */

@media (max-width:600px) {
  .tituloHome{
    color:black;
  }

  .nav{
    width: 100%;
    height: auto;
    display: flex;
  }

  .item1{
    gap:4px;
    margin: 2px;
    
  }
  .botones{
    color:black;
    font-weight:bolder;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
  } 
  }

 